@charset "UTF-8";

/* public */
html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /* padding-top: 4rem; */
    font-family: 'Noto Sans TC', '思源黑體', sans-serif;
}
a {
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration: none;
}
input[type="tel"]:disabled {
	background: #E3E3E3;
}
.loader{
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #E6EDE5;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader.hidden{
	animation: fadeOut 1s;
	animation-fill-mode: forwards;
}
.load_idx{
	z-index: -10;
}
@keyframes fadeOut {
	100%{
		opacity: 0;
		visibility: hidden;
	}
}
.lds-default {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-default div {
	position: absolute;
	width: 6px;
	height: 6px;
	background: #00712F;
	border-radius: 50%;
	animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
	animation-delay: 0s;
	top: 37px;
	left: 66px;
}
.lds-default div:nth-child(2) {
	animation-delay: -0.1s;
	top: 22px;
	left: 62px;
  }
  .lds-default div:nth-child(3) {
	animation-delay: -0.2s;
	top: 11px;
	left: 52px;
}
.lds-default div:nth-child(4) {
	animation-delay: -0.3s;
	top: 7px;
	left: 37px;
}
.lds-default div:nth-child(5) {
	animation-delay: -0.4s;
	top: 11px;
	left: 22px;
}
.lds-default div:nth-child(6) {
	animation-delay: -0.5s;
	top: 22px;
	left: 11px;
}
.lds-default div:nth-child(7) {
	animation-delay: -0.6s;
	top: 37px;
	left: 7px;
}
.lds-default div:nth-child(8) {
	animation-delay: -0.7s;
	top: 52px;
	left: 11px;
}
.lds-default div:nth-child(9) {
	animation-delay: -0.8s;
	top: 62px;
	left: 22px;
}
.lds-default div:nth-child(10) {
	animation-delay: -0.9s;
	top: 66px;
	left: 37px;
}
.lds-default div:nth-child(11) {
	animation-delay: -1s;
	top: 62px;
	left: 52px;
}
.lds-default div:nth-child(12) {
	animation-delay: -1.1s;
	top: 52px;
	left: 62px;
}
@keyframes lds-default {
	0%, 20%, 80%, 100% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.5);
	}
}
.myNavbar {
	width: 100%;
	background: #00712F;
	position: fixed;
	z-index: 111111;
	padding: 5px 10px;
	top: 0;
	display: flex;
	justify-content: space-between;
}
.logo{
	width: 100px;
	display: inline-block;
	padding: 10px 0;
}
.logo > img {
  width: 100%;
}
.logo > a > img {
    width: 100%;
}
.menu-m{
	display: inline-block;
	float: right;
	width: 50px;
	margin-top: 0px;
	visibility: visible;
}
.bar{
	width: 8px;
	height: 8px;
	display: block;
	opacity: 1;
}
.bar1{
	-webkit-transform: rotate(60deg) translate(5px, -37px);
	transform: rotate(60deg) translate(5px, -37px);
}
.bar2{
	-webkit-transform: rotate(60deg) translate(10px, -35px);
	transform: rotate(60deg) translate(10px, -35px);
}
.bar3{
	-webkit-transform: rotate(60deg) translate(15px, -33px);
	transform: rotate(60deg) translate(15px, -33px);
}
.transition{
	transition: 0.2s;
}
.bar > img{
	width: 100%;
}
/* .active .bar1{
	-webkit-transform: rotate(-48deg) translate(2px, 0px) ;
	transform: rotate(-48deg) translate(4px, 0px);
}

.active .bar2{
	-webkit-transform: rotate(50deg) translate(11px, -30px);
	transform: rotate(50deg) translate(11px, -30px);
	opacity: 0;
}
.active .bar3{
	-webkit-transform: rotate(50deg) translate(5px, -36px);
	transform: rotate(50deg) translate(5px, -36px);
} */
@keyframes idxSecond {
	0% {
		background-position-x: 100%;
	}
	50% {
		background-position-x: 90%;
	}
	100% {
		background-position-x: 100%;
	}
}
.idxBg{
	width: 100%;
	/* height: 100%; */
	background-image: url(../images/home/bg_big/bg_big2.jpg);
	background-position: left top;
	background-size: 100%;
}
.idxSecondBg{
    width: 100%;
    height: 22%;
    position: absolute;
    top: 17%;
    background-image: url(../images/home/bg_big/cloud.png);
	background-position-x: 100%;
	background-position-y: bottom;
    background-repeat: no-repeat;
	background-size: 80%;
	right: 1%;
	animation: idxSecond 3s infinite ease-in-out;
}
.axaBg{
	width: 100%;
	/* height: 100%; */
	background-image: url(../images/home/5415.png);
	background-position: left top;
	background-size: 100%;
}
.axa18Bg{
	width: 100%;
	height: 100%;
	background-image: url(../images/over18/axa.png);
	background-position: center bottom;
	background-size: 100%;
}
.axa18Bg_2{
	width: 100%;
	background-image: url(../images/over18/axa.png);
	background-position: center bottom;
	background-size: 100%;
}
.axa18Bg_3{
	width: 100%;
	background-image: url(../images/over18/axa.png);
	background-position: center bottom;
	background-size: 100%;
}
.eighteen_logoidx{
	width: 60%;
	margin: 0 auto;
	margin-top: 0%;
}
.eighteen_logoidx > img{
	width: 100%;
}
.eighteen_logo{
	width: 60%;
	margin: 0 auto;
	position: absolute;
	transition: all .5s;
	margin-top: -170%;
	top: 10%;
	left: 20%;
}
.eighteen_logo > img{
	width: 100%;
}
.eighteen_logoHad{
	margin-top: -60% !important;
}
.eightThis{
	margin-top: 0 !important;
}
.ilogo {
	/* position: relative; */
	overflow: hidden;
	/* transition-duration: 5s; */
	/**动画时间**/
}
/* .ilogo:before {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	content: "";
	height: 20px;
	width: 160px;
	background: rgba(255, 255, 255, 0.7);
	-webkit-transform: rotate(-40deg);
			transform: rotate(-40deg);
	-webkit-animation-name: shine;
			animation-name: shine;
	-webkit-animation-duration: 2s;
			animation-duration: 2s;
	-webkit-animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
			animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
} */

@-webkit-keyframes shine {
	0% {
	  top: -120px;
	  left: -280px;
	}
	100% {
	  top: 110%;
	  left: 100%;
	}
  }
  @keyframes shine {
	0% {
	  top: -120px;
	  left: -280px;
	}
	100% {
	  top: 110%;
	  left: 100%;
	}
  }
.eighteen_logo2{
	width: 70%;
	margin: 0 auto;
	margin-top: -25px;
}
.eighteen_logo2 > img{
	width: 100%;
}
.beerLogo{
	width: 27%;
	position: absolute;
	bottom: 7%;
	right: 0;
}
.beerLogo > img{
	width: 100%;
}
.menu-block-mb {
	display: none;
	background-color: #fff;
	width: 100%;
	height: 100%;
	padding: 0;
	position: fixed;
	top: 61px;
	z-index: 1000;
}
.menuBg{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: .3;
	z-index: -1;
	background-image: url(../images/over18/axa.png);
	background-position:  center bottom;
	background-repeat: no-repeat;
	background-size: 100%;
}
.menu-block-mb .menu li{
	width: 100%;
	border-bottom: 1px solid #cfcfcf;
	color: #008333;
	text-align: center;
	font-size: 3.5vh;
	padding: 15px 0;
	font-weight: bolder;
	list-style-type: none;
}
.menu_dic{
	display:inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
}
.menu{
	padding: 0;
}
.menu li a {
	display: block;
	padding: 5px 0;
	color: #008333;
}
.menu-block-mb .menu li:last-child{
	border-bottom: none;
	margin-bottom: 50px;
}
.icon{
	display: flex;
	float: right;
	margin-top: 12px;
}
.icon > a{
	width: 30px;
	height: 30px;
	margin-right: 15px;
}
.icon > a > img{
	width: 100%;
}
footer{
	width: 100%;
	height: 12vh;
	display: block;
	background-color: #00712F;
	background-image: url(../images/footer_1920.jpg);
	background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
	border-top: 1px solid #dcdcdc;
	margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
	position: fixed;
	bottom: 0;
	z-index: 999;
	transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}
@media only screen and (max-width: 1919px){
	footer {
		background-image: url(../images/footer_1680.jpg);
		background-size: 98% auto;
	}
}
@media only screen and (max-width: 1200px){
	footer {
		background-image: url(../images/footer_1140.jpg);
		background-size: 98% auto;
	}
}
@media only screen and (max-width: 991px){
	footer {
		background-image: url(../images/footer_m.jpg);
		background-size: 98% 90%;
	}
}
@media only screen and (max-width: 768px){
	footer {
		background-image: url(../images/footer_m.jpg);
		background-size: 100% 60%;
	}
}

/* index */
.main_title{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
	color: #000;
	position: relative;
}
.main_title .left{
	width: 80%;
}
.main_title .left .linkText{
	font-size: 18px;
	color: #008333;
	font-weight: bolder;
	text-decoration: underline;
}
.main_title .left .subText{
	color: #008333;
	font-weight: bolder;
}
.main_title .right{
	width: 20%;
}
.main_title .right .login{
	width: 100%;
	margin-top: 15px;
}
.main_title .right .login > img{
	width: 100%;
}
.main_title .subText{
	font-size: 18px;
	color: #008333;
	font-weight: bolder;
}
.main_title .right a > img{
	width: 100%;
}
.contain{
	width: 90%;
	max-width: 450px;
	margin: 0 auto;
	padding-top: 90px;
	padding-bottom: 15vh;
}
.menu_container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.overContain{
	width: 50%;
	max-width: 450px;
	margin: 0 auto;
	padding-top: 95px;
	/* padding-bottom: 15vh; */
}
.overContain2{
	width: 40%;
	/* max-width: 450px; */
	margin: 0 auto;
	padding-top: 95px;
	padding-bottom: 15vh;
}
.overContain3{
	width: 20%;
	/* max-width: 450px; */
	margin: 0 auto;
	padding-top: 95px;
	padding-bottom: 15vh;
}
.overContain4{
	width: 30%;
	margin: 0 auto;
	padding-top: 95px;
	padding-bottom: 15vh;
}
.overContain5{
	width: 30%;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 15vh;
}
.over18_block{
	width: 100%;
	margin-top: 0px;
}
.over18_block2{
	width: 100%;
	/* margin-top: 50px; */
	/* margin-top: -20%; */
}
.over18_checked{
	width: 50%;
	margin: 0 auto;
	margin-top: 55%;
	display: block;
	position: relative;
}
.over18_checked .over18ImgLb{
	width: 100%;
}
.over18_checked .over18ImgLb > img{
	width: 100%;
}
.over18_bear{
	width: 38%;
	bottom: 0;
	right: 0;
	float: right;
	/* margin: 0 auto; */
}
.over18_bear > img{
	width: 100%;	
}
.actCard{
	width: 100%;
	background-color: #fff;
	border: 2px solid #008333;
	position: relative;
	padding: 15px 0px;
	margin: 20px 0;
}
.actCard .plus{
	width: 34px;
	height: 34px;
	background-color: #008333;
	background-image: url(../images/home/plus.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: -2px;
	right: -2px;
	text-align: center;
	color: #fff;
}
[data-toggle="collapse"] .plus {  
	background-image: url(../images/home/less.png);
}

[data-toggle="collapse"].collapsed .plus {
  background-image: url(../images/home/plus.png);
}
.actCard .plus > img{
	width: 100%;
}
.actCard .actTitle{
	position: absolute;
	top: -15px;
	left: -2px;
}
.act01{
	width: 93px;
	height: auto;
}
.act02{
	width: 130px;
	height: auto;
}
.act03{
	width: 166px;
	height: auto;
}
.actCard .actTitle > img{
	width: 100%;
}
ul,ol{
	margin-bottom: 0;
}
.coll_text{
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}
.coll_list{
	margin-left: -22px;
}
.coll_list2{
	margin-left: -20px;
	color: #000;
}
.coll_list3{
	margin-left: -20px;
	margin-block-end: 0;
}
.coll_list4{
	margin-left: -24px;
	color: #000;
}
.coll_list5{
	margin-left: -11px;
}
.coll_list6{
	margin-left: -16px;
	color: #000;
}
.coll_title{
	padding: 3px 0 3px 10px;
	display: inline-block;
    width: auto;
	font-size: 16px;
	background-color: #008333;
	color: #FDD000;
	margin-top: 10px;
}
.col_list_title{
	margin-left: 10px;
	margin-bottom: 5px;
}
.coll_contain{
	margin-top: 5px;
	padding-left: 5px;
}
.sqlist{
	list-style-type: none;
	margin-left: -26px !important;
}
.udLink{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.sqlist li{
  color: #9db60b;
}
.sqlist li span{
  color: #00712f;
}
.sqlist li::before{
	content: "◆";
  color: #9db60b;
  margin-left: -24px;
  margin-right: 6px;
}
.numberLi{
	list-style-type: decimal-leading-zero	;
}
.slick-prev, .slick-next {
	top: 50% !important;
	width: 10% !important;
	height: auto !important;
}
.slick-next:before {
	content: '' !important;
}
.slick-prev:before {
	content: '' !important;
}
.slick-next {
	right: -10px !important;
	z-index: 5;
}
.slick-prev {
	left: -10px !important;
	z-index: 5;
}
.leftBtn{
	width: 100%;
}
.box{
  width: 100%;
  text-align: center;
  padding: 0 14px;
  margin: 0 20px;
  position: relative;
}
.box > img{
  width: 100%;
  cursor: pointer;
}
#goTop{
	position: fixed;
	right: -100px;
	bottom: 14vh;
	width: 60px;
	height: auto;
	display: block;
	cursor: pointer;
	z-index: 10;
	opacity: 1;
}
.scrollup > img{
  width: 100%;
}
/* 登入 */
input:focus::-webkit-input-placeholder {color: transparent;}
input:focus {
	outline: none;
}
.loginSub{
	color: #00712F;
	font-size: 14px;
	margin-left: 6px;
}
.mgL01{
	margin: 5px;
}
.formLogin{
	width: 100%;
	margin-top: 0px;
	display: block;
}
.formSelect{
	width: 100%;
	border: 2px solid #00712f;
	background-color: #fff;
	padding: .375rem .3rem;
	text-align: center;
}
.selWidth{
	width: 30%;
}
.selWidth2{
	width: 20%;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.formIpt{
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: 1.2rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
	background-color: #fff;
	background-clip: padding-box;
	border: 2px solid #00712f;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btnGreen{
	width: 100%;
	background-color: #005F23;
	text-align: center;
	font-size: 22px;
	color: #fff;
	padding: 5px 0;
	cursor: pointer;
}
.btn-group{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
.btnFlex{
	display: flex; 
	justify-content: space-between;
}
.btnFlex .btnBlock{
	width: 45%;
	cursor: pointer;
}
.btnFlex .btnBlock > img{
	width: 100%;
}
.btnFlex .btnBlock2{
	width: 40%;
	cursor: pointer;
	margin-top: 5px;
}
.btnFlex .btnBlock2 > img{
	width: 100%;
}
.form_remake{
	color: #005F23;
	font-size: 14px;
	font-weight: 500;
	margin-left: 6px;
}
.mRemake{
	width: 5%;
}
.sRemake{
	width: 95%;
}
.flex{
	display: flex;
}
.ipt_check{
    box-sizing: border-box;
	padding: 0;
	position: relative;
	z-index: 5;
	margin-left: 10px;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}
.ipt_check2{
    box-sizing: border-box;
	padding: 0;
	position: relative;
	z-index: 5;
	margin-left: 0px;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
	top: 0px;
    right: 2px;
    height: 30px;
    width: 30px;
    z-index: 0;
    cursor: pointer;
}
.checkmark2{
	position: absolute;
	top: 14px;
    right: 0px;
    height: 30px;
    width: 30px;
    z-index: 0;
    cursor: pointer;
}
.makeCheck{
	width: 10%;
}
.makeLabel{
	width: 90%;
}
.makeLabel label{
	font-size: 12px;
	color: #707070;
}
.makeLabel label a{
	color: #0090FF;
	text-decoration: underline;
}
.form_title{
	width: 40%;
	margin: 0 auto;
	text-align: center;
	color: #00712f;
	font-size: 30px;
}
.form_title > img{
	width: 100%;
}
.form_title2{
	width: 23%;
	margin: 0 auto;
	text-align: center;
	color: #00712f;
	font-size: 30px;
}
.form_title2 > img{
	width: 100%;
}
.forgetText{
	width: 100%;
	text-align: center;
	display: block;
	font-size: 3.3vh;
	color: #005F23;
	font-weight: bold;
	line-height: 38px;
}
.mt01{
	margin: 150px 0;
}
.mt02{
	margin: 50px 0;
}
.mt03{
	margin: 30px 0;
}
.mt04{
	margin-top: -3px;
}
.sendBtn{
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	cursor: pointer;
}
.sendBtn > a > img{
	width: 100%;
}
.sendBtn > img{
	width: 100%;
}
.linkBtn{
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	cursor: pointer;
}
.linkBtn > img{
	width: 100%;
}
.linkBtn > a > img{
	width: 100%;
}
/* home */
.home_logo{
	width: 60%;
	margin: 0 auto;
}
.home_logo > img{
	width: 100%;
}
.homeLogout{
	width: 20%;
	position: absolute;
	right: 0;
}
.homeLogout > img{
	width: 100%;
}
.homeContain{
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}
.makeListTitle{
	width: 100%;
	font-weight: bolder;
	font-size: 30px;
	color: #00712f;
}
.homeTitle{
	width: 40%;
	/* width: 100%; */
	font-weight: bolder;
	font-size: 30px;
	color: #00712f;
}
.homeTitle > img{
	width: 100%;
}
.homeContent{
	width: 100%;
	margin: 50px 0 30px 0;
}
.homeTag{
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: bolder;
	color: #00712f;
}
.homeTag span{
	color: #00712f;
}
.homePoint{
	font-size: 24px;
}
.homePoint > span{
	font-size: 30px;
	color: #00712f;
}
/* 歷史紀錄 */
.recordContent{
	width: 100%;
	margin: 0;
}
.recTitle{
	width: auto;
	position: absolute;
	top: -15px;
	left: -0px;
	background-color: #00712F;
	color: #FFD200;
	font-size: 16px;
	/* text-align: center; */
	padding: 5px 10px;
	z-index: 55;
}
.recordCard{
	width: 100%;
	height: 50vh;
	overflow-y: scroll;
	border: 2px solid #008333;
	position: relative;
	padding: 30px 0px;
	margin: 20px 0;
}
.recordYesData{
	background-color: #fff;
}
.recordNoData{
	background-color: #fff;
}
.historyContent .plus{
	width: 34px;
	height: 34px;
	background-color: #008333;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 5;
	text-align: center;
	color: #fff;
}
.historyContent .plus > img{
	width: 100%;
}
.recordCard .plus{
	width: 34px;
	height: 34px;
	background-color: #008333;
	position: absolute;
	top: -2px;
	right: 0px;
	text-align: center;
	color: #fff;
}
.recordCard .plus > img{
	width: 100%;
}
.historyContent{
	position: relative;
}
.historyTitle{
	width: 40%;
	/* width: 100%; */
	margin: 0 auto;
	font-weight: bolder;
	font-size: 30px;
	color: #00712f;
}
.historyTitle > img{
	width: 100%;
}
.record_title{
	width: 100%;
	margin: 0 auto;
	display: flex;
	text-align: center;
	font-size: 14px;
	padding-bottom: 15px;
	color: #008333;
}
/* 兌獎 */
.record_tag01{
	width: 13%;
}
.record_tag02{
	width: 24%;
}
.record_tag03{
	width: 31%;
}
.record_tag04{
	width: 10%;
}
.record_tag05{
	width: 27%;
}
/* 積點 */
.record_ptag01{
	width: 11%;
}
.record_ptag02{
	width: 30%;
}
.record_ptag03{
	width: 23%;
	/* text-align: left; */
}
.record_ptag04{
	width: 21%;
}
.record_ptag05{
	width: 15%;
	/* text-align: right; */
}
.cityCent {
	width: 95%;
	font-size: 14px;
	margin: 0 auto;
}
.cityCent > table{
	color: #000;
	text-align: center;
	width: 100%;
	margin: 0px auto;
	border-collapse: collapse;
}
.citizen01 table tbody tr td:nth-child(1){
	width: 5%;
}
.citizen01 table tbody tr td:nth-child(2){
	width: 38%;
}
.citizen01 table tbody tr td:nth-child(3){
	width: 18%;
}
.citizen01 table tbody tr td:nth-child(4){
	width: 26%;
}
.citizen01 table tbody tr td:nth-child(5){
	width: 10%;
}
.citizen02 table tbody tr td:nth-child(1){
	width: 5%;
}
.citizen02 table tbody tr td:nth-child(2){
	width: 28%;
}
.citizen02 table tbody tr td:nth-child(3){
	width: 25%;
}
.citizen02 table tbody tr td:nth-child(4){
	width: 10%;
}
.citizen02 table tbody tr td:nth-child(5){
	width: 20%;
}
tr > td{
	padding: 10px 0;
}
.recNoData{
	width: 100%;
	position: absolute;
	text-align: center;
	font-size: 30px;
	color: #00712f;
    top: 50%;
    margin-top: -8%;
}
/* 抽獎 */
.prize{
	width: 50%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.prize > img{
	width: 100%;
}
.prize_result{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: #00712f;
	font-size: 4vh;
}
.prize_result div{
	font-size: 3vh;
}
.prize_title{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	color: #00712f;
	font-size: 4vh;
}
.prize_title2{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	color: #00712f;
	font-size: 6vh;
}
.prizeCard{
	width: 100%;
	border: 2px solid #008333;
	position: relative;
	background-color: rgba(255,255,255,.6);
	padding: 20px 20px;
	margin: 50px 0 20px 0;
	font-weight: bold;
	font-size: 14px;
}
.prizeText02{
	font-size: 13px !important;
}
.postmark{
	width: 270px;
	text-align: right;
}
.prizeTag{
	width: 80px;
	height: auto;
	position: absolute;
	left: -2px;
	top: -8.5%;
}
.prizeTag > img{
	width: 100%;
}
.prizeText{
	color: #005F23;
}
.prizeName{
	width: 80%;
	height: auto;
	margin: 0 auto;
}
.prize_block{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	z-index: 112500;
}
.prize_modal{
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	background: #fff;
	position: relative;
	padding:50px 30px 20px 30px;
	top: 30%;
}
/* 抽獎獎品 */
.prizeImg01{
	width: 50%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.prizeImg01 > img{
	width: 100%;
}
.prizeImg02{
	width: 55%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.prizeImg02 > img{
	width: 100%;
}
.prizeImg03{
	width: 70%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.prizeImg03 > img{
	width: 100%;
}
.prizeImg04{
	width: 65%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.prizeImg04 > img{
	width: 100%;
}
.prizeImg05{
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.prizeImg05 > img{
	width: 100%;
}
.prize_result01{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	color: #00712f;
	font-size: 4vh;
}
.prize_result01 div{
	font-size: 3vh;
}
.prize_result01 > img{
	width: 100%;
}
.prize_result02{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	color: #00712f;
	font-size: 4vh;
}
.prize_result02 div{
	font-size: 3vh;
}
.prize_result02 > img{
	width: 100%;
}
.prize_result03{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	color: #00712f;
	font-size: 4vh;
}
.prize_result03 div{
	font-size: 3vh;
}
.prize_result03 > img{
	width: 100%;
}
.prize_result04{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	color: #00712f;
	font-size: 4vh;
}
.prize_result04 div{
	font-size: 3vh;
}
.prize_result04 > img{
	width: 100%;
}
.prize_result05{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	color: #00712f;
	font-size: 4vh;
}
.prize_result05 div{
	font-size: 3vh;
}
.prize_result05 > img{
	width: 100%;
}
.protag_modal{
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	background: #fff;
	position: relative;
	padding:50px 20px 20px 20px;
	top: 10%;
}
.protag_modal p {
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
}
.protag_content{
	height: 400px;
	overflow-y: scroll;
}
.ex_title{
	margin: 0px 0 10px 0;
	font-size: 22px;
	font-weight: bold;
	color: #000;
}
.ex_title span{
	color: #00712f;
	font-size: 30px;
}
.ex_cont{
	font-size: 22px;
	color: #000;
}
.welcome_title{
	width: 90%;
	margin: 0 auto;
	font-size: 18px;
}
.welcome_title .welTag01{
	color: #00712f;
	font-weight: bolder;
}
.welcome_title .welTag02{
	color: #000;
	margin-top: 20px;
}
.myRealPoint{
	color: #00712f;
	font-weight: bolder;
	font-size: 26px;
}
.exchangePrize{
	width: 45%;
	text-align: center;
	margin-top: 20px;
}
.exchangePrize01{
	width: 56.5%;
	text-align: center;
	margin-top: 20px;
}
.exchangePrize02{
	width: 42%;
	text-align: center;
	margin-top: 21px;
}
.exListPrize01{
	width: 56%;
	text-align: center;
	margin-top: 20px;
}
.exListPrize02{
	width: 44%;
	text-align: center;
	margin-top: 21px;
}
.prize_result > img{
	width: 100%;
}
.exchangeText{
	font-size: 16px;
	color: #000;
}
.exchangeText span{
	color: #00712f;
	font-size: 30px;
	font-weight: bold;
}
.exBtn{
	width: 15vh;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 20px;
}
.exBtn > img{
	width: 100%;
}
.listContain{
	width: 90%;
	margin: 0 auto;
	margin-top: 45px;
}
.closeBtn{
	width: 30px;
	height: 30px;
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
}
.closeBtn > img{
	width: 100%;
}
.list_title,.list_content{
	width: 100%;
	display: flex;
	text-align: center;
}
.list_title{
	font-size: 16px;
	font-weight: bolder;
	color: #00712f;
}
.list_content{
	margin: 20px 0;
	font-size: 16px;
	font-weight: bolder;
}
.lottery_list{
	width: 100%;
	height: 150px;
	overflow-y: scroll;
}
.list_title .list_tag01{
	width: 16%;
}
.list_title .list_tag02{
	width: 42%;
}
.list_title .list_tag03{
	width: 42%;
}
.list_content .list_tag01{
	width: 17%;
}
.list_content .list_tag02{
	width: 50%;
}
.list_content .list_tag03{
	width: 47%;
}
.makeClose{
	width: 100%;
	height: 100%;
	position: fixed;
    z-index: -1;
    left: 0px;
	top: 0px;
}
.iptName{
	font-size: 20px;
	color: #005F23;
	font-weight: bolder;
}
.allBtn{
	width: 100%;
}
.allBtn > img{
	width: 100%;
}
.relate{
	position: relative;
}
.mr30{
	margin-right: 30px;
}
.mr20{
	margin-right: 20px;
}
.disc{
	width: 100%;
}
.disc > img{
	width: 100%;
}
.discBtn{
	width: 50%;
    margin: 0 auto;
	margin-top: 50px;
	cursor: pointer;
}
.discBtn img{
	width: 100%;
}
.col5{
	margin-left: 20px;
	font-weight: bolder;
}
.point4{
	text-decoration: underline;
	color: #026DBF;
}
.light{
	position: absolute;
	z-index: 10;
	background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: all 1s;
    top: 50%;
    left: 50%;
	margin-top: -23%;
    margin-left: -1%;
	background: -webkit-radial-gradient(circle,white,rgba(255,255,255,.1));
	background: -o-radial-gradient(circle,white,rgba(255,255,255,.1));
	background: -moz-radial-gradient(circle,white,rgba(255,255,255,.1));
	background: radial-gradient(circle,#fff 3px,rgba(255,255,255,.3) );
	opacity: 0;
	/* transform: scale3d(70, 70, 2); */
}
@media (max-width: 992px){
	#goTop{
		position: fixed;
		right: -100px;
		bottom: 14vh;
		width: 60px;
		height: auto;
		display: block;
		cursor: pointer;
		z-index: 10;
		opacity: 1;
	}
	.over18_bear{
		width: 32%;
		position: absolute;
		bottom: 12%;
		right: 5%;
		/* margin: 0 auto; */
	}
	.idxSecondBg{
		width: 100%;
		height: 22%;
		position: absolute;
		top: 17%;
		background-image: url(../images/home/bg_big/cloud.png);
		background-position-x: 100%;
		background-position-y: bottom;
		background-repeat: no-repeat;
		background-size: 80%;
	}
	.axa18Bg{
		width: 100%;
		height: 100%;
		background-image: url(../images/over18/axa.png);
		background-position: center bottom;
		background-size: 100%;
	}
	.record_title{
		width: 100%;
		margin: 0 auto;
		display: flex;
		text-align: center;
		font-size: 12px;
		font-weight: bolder;
		padding-bottom: 15px;
		color: #008333;
	}
	.getcity01{
		font-weight: bolder;
	}
	.overContain{
		width: 90%;
		margin: 0 auto;
		padding-top: 95px;
		/* padding-bottom: 15vh; */
	}
	.overContain2{
		width: 90%;
		margin: 0 auto;
		padding-top: 95px;
		padding-bottom: 15vh;
	}
	.overContain3{
		width: 70%;
		margin: 0 auto;
		padding-top: 95px;
		padding-bottom: 15vh;
	}
	.overContain4{
		width: 80%;
		margin: 0 auto;
		padding-top: 95px;
		padding-bottom: 15vh;
	}
	.overContain5{
		width: 100%;
		position: relative;
		margin: 0 auto;
		padding-top: 61px;
		padding-bottom: 15vh;
	}
	/* 兌獎 */
	.record_tag01{
		width: 13%;
	}
	.record_tag02{
		width: 24%;
	}
	.record_tag03{
		width: 31%;
	}
	.record_tag04{
		width: 10%;
	}
	.record_tag05{
		width: 27%;
	}
	/* 積點 */
	.record_ptag01{
		width: 11%;
	}
	.record_ptag02{
		width: 30%;
	}
	.record_ptag03{
		width: 23%;
		/* text-align: left; */
	}
	.record_ptag04{
		width: 21%;
	}
	.record_ptag05{
		width: 15%;
		/* text-align: right; */
	}
	.recYdata{
		margin-top: 30px;
	}
	.cityCent {
		width: 95%;
		font-size: 12px;
		margin: 0 auto;
	}
	.cityCent > table{
		color: #000;
		text-align: center;
		width: 100%;
		margin: 0px auto;
		border-collapse: collapse;
	}
	.citizen01 table tbody tr td:nth-child(1){
		width: 5%;
	}
	.citizen01 table tbody tr td:nth-child(2){
		width: 38%;
	}
	.citizen01 table tbody tr td:nth-child(3){
		width: 18%;
	}
	.citizen01 table tbody tr td:nth-child(4){
		width: 26%;
	}
	.citizen01 table tbody tr td:nth-child(5){
		width: 10%;
	}
	.citizen02 table tbody tr td:nth-child(1){
		width: 5%;
	}
	.citizen02 table tbody tr td:nth-child(2){
		width: 28%;
	}
	.citizen02 table tbody tr td:nth-child(3){
		width: 25%;
	}
	.citizen02 table tbody tr td:nth-child(4){
		width: 10%;
	}
	.citizen02 table tbody tr td:nth-child(5){
		width: 20%;
	}
}
@media (max-width: 500px){
	#goTop{
		position: fixed;
		right: -100px;
		bottom: 14vh;
		width: 60px;
		height: auto;
		display: block;
		cursor: pointer;
		z-index: 10;
		opacity: 1;
	}
	.idxBg{
		width: 100%;
		background-image: url(../images/home/bg_big/bg_big2.jpg);
		background-position: left top;
		background-size: 100%;
	}
	.eighteen_logoidx{
		width: 55%;
		margin: 0 auto;
		margin-top: -25px;
	}
	.eighteen_logo{
		width: 55%;
		margin: 0 auto;
		position: absolute;
		margin-top: -170%;
		top: 10%;
		left: 23%;
	}
	.eighteen_logoHad{
		margin-top: -60% !important;
	}
	.over18_checked{
		width: 50%;
		margin: 0 auto;
		margin-top: 55%;
		display: block;
		position: relative;
	}
	.eightThis{
		margin-top: -25px !important;
	}
	.idxSecondBg{
		width: 100%;
		height: 22%;
		position: absolute;
		top: 10%;
		background-image: url(../images/home/bg_big/cloud.png);
		background-position-x: 100%;
		background-position-y: bottom;
		background-repeat: no-repeat;
		background-size: 80%;
	}
	.axa18Bg{
		width: 100%;
		height: 100%;
		background-image: url(../images/over18/axa.png);
		background-position: center bottom;
		background-size: 100%;
	}
	.axa18Bg_3{
		width: 100%;
		height: 100%;
		background-image: url(../images/over18/axa.png);
		background-position: center bottom;
		background-size: 100%;
	}
	.record_title{
		width: 100%;
		margin: 0 auto;
		display: flex;
		text-align: center;
		font-size: 12px;
		padding-bottom: 15px;
		color: #008333;
	}
	.overContain{
		width: 90%;
		margin: 0 auto;
		padding-top: 95px;
		/* padding-bottom: 15vh; */
	}
	.overContain2{
		width: 90%;
		margin: 0 auto;
		padding-top: 95px;
		padding-bottom: 15vh;
	}
	.overContain3{
		width: 70%;
		margin: 0 auto;
		padding-top: 95px;
		padding-bottom: 15vh;
	}
	.overContain4{
		width: 80%;
		margin: 0 auto;
		padding-top: 95px;
		padding-bottom: 15vh;
	}
	.overContain5{
		width: 100%;
		margin: 0 auto;
		padding-top: 61px;
		padding-bottom: 15vh;
	}
	.postmark{
		width: 85%;
		text-align: right;
	}
	/* 兌獎 */
	.record_tag01{
		width: 13%;
	}
	.record_tag02{
		width: 24%;
	}
	.record_tag03{
		width: 31%;
	}
	.record_tag04{
		width: 10%;
	}
	.record_tag05{
		width: 27%;
	}
	/* 積點 */
	.record_ptag01{
		width: 11%;
	}
	.record_ptag02{
		width: 30%;
	}
	.record_ptag03{
		width: 23%;
		/* text-align: left; */
	}
	.record_ptag04{
		width: 21%;
	}
	.record_ptag05{
		width: 15%;
		/* text-align: right; */
	}
	.recYdata{
		margin-top: 30px;
	}
	.cityCent {
		width: 95%;
		font-size: 12px;
		margin: 0 auto;
	}
	.cityCent > table{
		color: #000;
		text-align: center;
		width: 100%;
		margin: 0px auto;
		border-collapse: collapse;
	}
	.citizen01 table tbody tr td:nth-child(1){
		width: 5%;
	}
	.citizen01 table tbody tr td:nth-child(2){
		width: 38%;
	}
	.citizen01 table tbody tr td:nth-child(3){
		width: 18%;
	}
	.citizen01 table tbody tr td:nth-child(4){
		width: 26%;
	}
	.citizen01 table tbody tr td:nth-child(5){
		width: 10%;
	}
	.citizen02 table tbody tr td:nth-child(1){
		width: 5%;
	}
	.citizen02 table tbody tr td:nth-child(2){
		width: 28%;
	}
	.citizen02 table tbody tr td:nth-child(3){
		width: 25%;
	}
	.citizen02 table tbody tr td:nth-child(4){
		width: 10%;
	}
	.citizen02 table tbody tr td:nth-child(5){
		width: 20%;
	}
}
@media (max-width: 400px){
	.idxBg{
		width: 100%;
		background-image: url(../images/home/bg_big/bg_big3.jpg);
		background-position: left top;
		background-size: cover;
	}
	.welcome_title{
		font-size: 16px;
	}
	.homeTag {
		font-size: 18px;
	}
}
.prizeli{
	margin-left: -15px;
}