@charset "UTF-8";

/* public */
html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /* padding-top: 4rem; */
    font-family: 'Noto Sans TC', '思源黑體', sans-serif;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration: none;
}
input[type="tel"]:disabled {
	background: #E3E3E3;
}
.myNavbar {
	width: 100%;
	background: #00712F;
	position: fixed;
	z-index: 111111;
	padding: 5px 10px;
	top: 0;
	display: flex;
	justify-content: space-between;
}
.logo{
	width: 100px;
	display: inline-block;
	padding: 10px 0;
}
.logo > img {
  width: 100%;
}
.logo > a > img {
    width: 100%;
}
.menu-m{
	display: inline-block;
	float: right;
	width: 50px;
	margin-top: 0px;
	visibility: visible;
}
.bar{
	width: 8px;
	height: 8px;
	display: block;
	opacity: 1;
}
.bar1{
	-webkit-transform: rotate(60deg) translate(12px, -37px);
	transform: rotate(60deg) translate(12px, -37px);
}
.bar2{
	-webkit-transform: rotate(60deg) translate(18px, -36px);
	transform: rotate(60deg) translate(18px, -36px);
}
.transition{
	transition: 0.4s;
}
.bar > img{
	width: 100%;
}
.active .bar1{
	-webkit-transform: rotate(-48deg) translate(2px, 0px) ;
	transform: rotate(-48deg) translate(2px, 0px);
}

.active .bar2{
	-webkit-transform: rotate(-128deg) translate(-11px, -9px);
	transform: rotate(-128deg) translate(-11px, -9px)
}
.axaBg{
	width: 100%;
	/* height: 100%; */
	background-image: url(../images/home/5415.png);
	background-position: left top;
	background-size: 100%;
}
.axa18Bg{
	width: 100%;
	/* height: 100%; */
	background-image: url(../images/over18/axa.png);
	background-position: center bottom;
	background-size: 100%;
}
.axa18Bg_2{
	width: 100%;
	background-image: url(../images/over18/axa.png);
	background-position: center bottom;
	background-size: 100%;
}
.eighteen_logo{
	width: 60%;
	margin: 0 auto;
	margin-top: -25px;
}
.eighteen_logo > img{
	width: 100%;
}
.eighteen_logo2{
	width: 70%;
	margin: 0 auto;
	margin-top: -25px;
}
.eighteen_logo2 > img{
	width: 100%;
}
.beerLogo{
	width: 27%;
	position: absolute;
	bottom: 7%;
	right: 0;
}
.beerLogo > img{
	width: 100%;
}
.menu-block-mb {
	display: none;
	background-color: #fff;
	width: 100%;
	height: 100%;
	padding: 0 20px;
	position: fixed;
	top: 61px;
	z-index: 1000;
}
.menu-block-mb .menu li{
	width: 100%;
	border-bottom: 1px solid #cfcfcf;
	color: #008333;
	text-align: center;
	font-size: 3.5vh;
	padding: 15px 0;
	font-weight: bolder;
	list-style-type: none;
}
.menu_dic{
	display:inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
}
.menu{
	padding: 0;
}
.menu li a {
	display: block;
	padding: 5px 0;
	color: #008333;
}
.menu-block-mb .menu li:last-child{
	border-bottom: none;
	margin-bottom: 50px;
}
.icon{
	display: flex;
	float: right;
	margin-top: 12px;
}
.icon > a{
	width: 30px;
	height: 30px;
	margin-right: 15px;
}
.icon > a > img{
	width: 100%;
}
footer{
	width: 100%;
	height: 12vh;
	display: block;
	background-color: #00712F;
	background-image: url(../images/footer_1920.jpg);
	background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
	border-top: 1px solid #dcdcdc;
	margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
	position: fixed;
	bottom: 0;
	z-index: 999;
	transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}
@media only screen and (max-width: 1919px){
	footer {
		background-image: url(../images/footer_1680.jpg);
		background-size: 98% auto;
	}
}
@media only screen and (max-width: 1200px){
	footer {
		background-image: url(../images/footer_1140.jpg);
		background-size: 98% auto;
	}
}
@media only screen and (max-width: 991px){
	footer {
		background-image: url(../images/footer_m.jpg);
		background-size: 98% 90%;
	}
}
@media only screen and (max-width: 768px){
	footer {
		background-image: url(../images/footer_m.jpg);
		background-size: 98% 90%;
	}
}

/* index */
.main_title{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
	color: #000;
	position: relative;
}
.main_title .left{
	width: 80%;
}
.main_title .left .linkText{
	font-size: 18px;
	color: #008333;
	font-weight: 500;
	text-decoration: underline;
}
.main_title .left .subText{
	color: #008333;
	font-weight: 500;
}
.main_title .right{
	width: 20%;
}
.main_title .right .login{
	width: 100%;
	margin-top: 15px;
}
.main_title .right .login > img{
	width: 100%;
}
.main_title .subText{
	font-size: 18px;
	color: #008333;
	font-weight: 500;
}
.main_title .right a img{
	width: 100%;
}
.contain{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 90px;
	padding-bottom: 15vh;
}
.menu_container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.overContain{
	width: 90%;
	margin: 0 auto;
	padding-top: 95px;
	/* padding-bottom: 15vh; */
}
.overContain2{
	width: 90%;
	margin: 0 auto;
	padding-top: 95px;
	padding-bottom: 15vh;
}
.overContain3{
	width: 70%;
	margin: 0 auto;
	padding-top: 95px;
	padding-bottom: 15vh;
}
.overContain4{
	width: 80%;
	margin: 0 auto;
	padding-top: 95px;
	padding-bottom: 15vh;
}
.overContain5{
	width: 30%;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 15vh;
}
.over18_block{
	width: 100%;
	margin-top: 20px;
}
.over18_block2{
	width: 100%;
	/* margin-top: 50px; */
	/* margin-top: -20%; */
}
.over18_checked{
	width: 50%;
	margin: 0 auto;
	margin-top: 15px;
	display: block;
	position: relative;
}
.over18_checked .over18ImgLb{
	width: 100%;
}
.over18_checked .over18ImgLb > img{
	width: 100%;
}
.over18_bear{
	width: 38%;
	position: relative;
	bottom: 0;
	right: 0;
	float: right;
	/* margin: 0 auto; */
}
.over18_bear > img{
	width: 100%;	
}
.actCard{
	width: 100%;
	background-color: #fff;
	border: 2px solid #008333;
	position: relative;
	padding: 15px 0px;
	margin: 20px 0;
}
.actCard .plus{
	width: 34px;
	height: 34px;
	background-color: #008333;
	background-image: url(../images/home/plus.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: -2px;
	right: -2px;
	text-align: center;
	color: #fff;
}
[data-toggle="collapse"] .plus {  
	background-image: url(../images/home/less.png);
}

[data-toggle="collapse"].collapsed .plus {
  background-image: url(../images/home/plus.png);
}
.actCard .plus > img{
	width: 100%;
}
.actCard .actTitle{
	position: absolute;
	top: -15px;
	left: -2px;
}
.act01{
	width: 93px;
	height: auto;
}
.act02{
	width: 130px;
	height: auto;
}
.act03{
	width: 166px;
	height: auto;
}
.actCard .actTitle > img{
	width: 100%;
}
.coll_text{
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
}
.coll_list{
	padding-inline-start: 24px;
	margin-left: 5px;
}
.coll_list2{
	padding-inline-start: 24px;
}
.coll_list3{
	padding-inline-start: 24px;
	margin-left: 0;
	margin-block-end: 0;
}
.coll_list4{
	padding-inline-start: 24px;
	margin-left: -5px;
}
.coll_list5{
	padding-inline-start: 20px;
}
.coll_title{
	padding: 3px 0 3px 10px;
	width: 37%;
	font-size: 20px;
	background-color: #008333;
	color: #FDD000;
	margin-top: 10px;
}
.coll_contain{
	margin-top: 5px;
	padding-left: 5px;
}
.sqlist{
	list-style-type: none;
}
.sqlist li{
  color: #9db60b;
}
.sqlist li span{
  color: #00712f;
}
.sqlist li::before{
	content: "◆";
  color: #9db60b;
  margin-left: -24px;
  margin-right: 6px;
}
.numberLi{
	list-style-type: decimal-leading-zero	;
}
.slick-prev, .slick-next {
	top: 50% !important;
	width: 10% !important;
	height: auto !important;
}
.slick-next:before {
	content: '' !important;
}
.slick-prev:before {
	content: '' !important;
}
.slick-next {
	right: -10px !important;
	z-index: 5;
}
.slick-prev {
	left: -10px !important;
	z-index: 5;
}
.leftBtn{
	width: 100%;
}
.box{
  width: 100%;
  text-align: center;
  padding: 0 14px;
  margin: 0 20px;
  position: relative;
}
.box > img{
  width: 100%;
  cursor: pointer;
}
#goTop{
	position: fixed;
	right: -100px;
	bottom: 100px;
	width: 60px;
	height: auto;
	display: block;
	cursor: pointer;
	z-index: 10;
	opacity: 1;
}
.scrollup > img{
  width: 100%;
}
/* 登入 */
input:focus::-webkit-input-placeholder {color: transparent;}
input:focus {
	outline: none;
}
.loginSub{
	color: #00712F;
	font-size: 14px;
}
.mgL01{
	margin: 5px;
}
.formLogin{
	width: 100%;
	margin-top: 0px;
	display: block;
}
.formSelect{
	width: 100%;
	border: 2px solid #00712f;
	padding: .375rem .3rem;
	text-align: center;
}
.selWidth{
	width: 30%;
}
.selWidth2{
	width: 20%;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.formIpt{
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: 1.2rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
	background-color: #fff;
	background-clip: padding-box;
	border: 2px solid #00712f;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btnGreen{
	width: 100%;
	background-color: #005F23;
	text-align: center;
	font-size: 22px;
	color: #fff;
	padding: 5px 0;
	cursor: pointer;
}
.btn-group{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
.btnFlex{
	display: flex; 
	justify-content: space-between;
}
.btnFlex .btnBlock{
	width: 45%;
	cursor: pointer;
}
.btnFlex .btnBlock img{
	width: 100%;
}
.btnFlex .btnBlock2{
	width: 40%;
	cursor: pointer;
	margin-top: 5px;
}
.btnFlex .btnBlock2 img{
	width: 100%;
}
.form_remake{
	color: #005F23;
	font-size: 14px;
	font-weight: 500;
}
.flex{
	display: flex;
}
.ipt_check{
    box-sizing: border-box;
	padding: 0;
	position: relative;
	z-index: 5;
	margin-left: 10px;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}
.ipt_check2{
    box-sizing: border-box;
	padding: 0;
	position: relative;
	z-index: 5;
	margin-left: 0px;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
	top: 0px;
    right: 2px;
    height: 30px;
    width: 30px;
    z-index: 0;
    cursor: pointer;
}
.checkmark2{
	position: absolute;
	top: 14px;
    right: 0px;
    height: 30px;
    width: 30px;
    z-index: 0;
    cursor: pointer;
}
.makeCheck{
	width: 10%;
}
.makeLabel{
	width: 90%;
}
.makeLabel label{
	font-size: 12px;
	color: #707070;
}
.makeLabel label a{
	color: #0090FF;
	text-decoration: underline;
}
.form_title{
	width: 40%;
	margin: 0 auto;
	text-align: center;
	color: #00712f;
	font-size: 30px;
}
.form_title img{
	width: 100%;
}
.form_title2{
	width: 23%;
	margin: 0 auto;
	text-align: center;
	color: #00712f;
	font-size: 30px;
}
.form_title2 img{
	width: 100%;
}
.forgetText{
	width: 100%;
	text-align: center;
	display: block;
	font-size: 3.5vh;
	color: #005F23;
	font-weight: bold;
	line-height: 38px;
}
.mt01{
	margin: 150px 0;
}
.mt02{
	margin: 50px 0;
}
.mt03{
	margin: 30px 0;
}
.mt04{
	margin-top: -3px;
}
.sendBtn{
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	cursor: pointer;
}
.sendBtn > img{
	width: 100%;
}
.linkBtn{
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	cursor: pointer;
}
.linkBtn > img{
	width: 100%;
}
.linkBtn > a > img{
	width: 100%;
}
/* home */
.home_logo{
	width: 60%;
	margin: 0 auto;
}
.home_logo > img{
	width: 100%;
}
.homeLogout{
	width: 20%;
	position: absolute;
	right: 0;
}
.homeLogout > img{
	width: 100%;
}
.homeContain{
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}
.makeListTitle{
	width: 100%;
	font-weight: 600;
	font-size: 30px;
	color: #00712f;
}
.homeTitle{
	width: 40%;
	/* width: 100%; */
	font-weight: 600;
	font-size: 30px;
	color: #00712f;
}
.homeTitle > img{
	width: 100%;
}
.homeContent{
	width: 100%;
	margin: 50px 0 30px 0;
}
.homeTag{
	margin-bottom: 15px;
	font-size: 20px;
	color: #00712f;
}
.homePoint{
	font-size: 24px;
}
.homePoint > span{
	font-size: 30px;
	color: #00712f;
}
/* 歷史紀錄 */
.recordContent{
	width: 100%;
	margin: 0;
}
.recTitle{
	width: auto;
	position: absolute;
	top: -15px;
	left: -0px;
	background-color: #00712F;
	color: #FFD200;
	font-size: 16px;
	/* text-align: center; */
	padding: 5px 10px;
	z-index: 55;
}
.recordCard{
	width: 100%;
	height: 50vh;
	overflow-y: scroll;
	border: 2px solid #008333;
	position: relative;
	padding: 30px 0px;
	margin: 20px 0;
}
.recordYesData{
	background-color: #fff;
}
.recordNoData{
	background-color: rgba(255,255,255,.4);
}
.recordCard .plus{
	width: 34px;
	height: 34px;
	background-color: #008333;
	position: absolute;
	top: -2px;
	right: -2px;
	text-align: center;
	color: #fff;
}
.recordCard .plus > img{
	width: 100%;
}
.historyContent{
	position: relative;
}
.historyTitle{
	width: 40%;
	/* width: 100%; */
	margin: 0 auto;
	font-weight: 600;
	font-size: 30px;
	color: #00712f;
}
.historyTitle > img{
	width: 100%;
}
.record_title{
	width: 100%;
	margin: 0 auto;
	display: flex;
	text-align: center;
	font-size: 12px;
	padding-bottom: 15px;
	color: #008333;
}
/* 兌獎 */
.record_tag01{
	width: 15%;
}
.record_tag02{
	width: 18%;
}
.record_tag03{
	width: 24%;
}
.record_tag04{
	width: 19%;
}
.record_tag05{
	width: 30%;
}
/* 積點 */
.record_ptag01{
	width: 15%;
}
.record_ptag02{
	width: 30%;
}
.record_ptag03{
	width: 30%;
	/* text-align: left; */
}
.record_ptag04{
	width: 15%;
}
.record_ptag05{
	width: 15%;
	/* text-align: right; */
}
.cityCent {
	width: 95%;
	font-size: 12px;
	margin: 0 auto;
}
.cityCent > table{
	color: #000;
	text-align: center;
	width: 100%;
	margin: 0px auto;
	border-collapse: collapse;
}
.citizen01 table tbody tr td:nth-child(1){
	width: 5%;
}
.citizen01 table tbody tr td:nth-child(2){
	width: 38%;
}
.citizen01 table tbody tr td:nth-child(3){
	width: 18%;
}
.citizen01 table tbody tr td:nth-child(4){
	width: 26%;
}
.citizen01 table tbody tr td:nth-child(5){
	width: 10%;
}
.citizen02 table tbody tr td:nth-child(1){
	width: 5%;
}
.citizen02 table tbody tr td:nth-child(2){
	width: 28%;
}
.citizen02 table tbody tr td:nth-child(3){
	width: 25%;
}
.citizen02 table tbody tr td:nth-child(4){
	width: 10%;
}
.citizen02 table tbody tr td:nth-child(5){
	width: 20%;
}
tr > td{
	padding: 10px 0;
}
.recNoData{
	width: 100%;
	position: absolute;
	text-align: center;
	font-size: 30px;
	color: #00712f;
    top: 50%;
    margin-top: -8%;
}
/* 抽獎 */
.prize{
	width: 50%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.prize > img{
	width: 100%;
}
.prize_result{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: #00712f;
	font-size: 4vh;
}
.prize_result div{
	font-size: 3vh;
}
.prize_title{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	color: #00712f;
	font-size: 4vh;
}
.prize_title2{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	color: #00712f;
	font-size: 6vh;
}
.prizeCard{
	width: 100%;
	border: 2px solid #008333;
	position: relative;
	background-color: rgba(255,255,255,.6);
	padding: 20px 20px;
	margin: 50px 0 20px 0;
	font-weight: 500;
	font-size: 14px;
}
.prizeTag{
	width: 80px;
	height: auto;
	position: absolute;
	left: -2px;
	top: -8.5%;
}
.prizeTag > img{
	width: 100%;
}
.prizeText{
	color: #005F23;
}
.prizeName{
	width: 80%;
	height: auto;
	margin: 0 auto;
}
.prize_block{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	z-index: 112500;
}
.prize_modal{
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	background: #fff;
	position: relative;
	padding:50px 30px 20px 30px;
	top: 30%;
}
.protag_modal{
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	background: #fff;
	position: relative;
	padding:50px 20px 20px 20px;
	top: 10%;
}
.protag_modal p {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}
.protag_content{
	height: 400px;
	overflow-y: scroll;
}
.ex_title{
	margin: 0px 0 10px 0;
	font-size: 22px;
	font-weight: bold;
	color: #000;
}
.ex_title span{
	color: #00712f;
	font-size: 30px;
}
.ex_cont{
	font-size: 22px;
	color: #000;
}
.welcome_title{
	width: 90%;
	margin: 0 auto;
	font-size: 18px;
}
.welcome_title .welTag01{
	color: #00712f;
}
.welcome_title .welTag02{
	color: #000;
	margin-top: 20px;
}
.exchangePrize{
	width: 45%;
	text-align: center;
	margin-top: 20px;
}
.exchangePrize01{
	width: 56.5%;
	text-align: center;
	margin-top: 20px;
}
.exchangePrize02{
	width: 42%;
	text-align: center;
	margin-top: 21px;
}
.exListPrize01{
	width: 56%;
	text-align: center;
	margin-top: 20px;
}
.exListPrize02{
	width: 44%;
	text-align: center;
	margin-top: 21px;
}
.prize_result img{
	width: 100%;
}
.exchangeText{
	font-size: 16px;
	color: #000;
}
.exchangeText span{
	color: #00712f;
	font-size: 30px;
	font-weight: bold;
}
.exBtn{
	width: 15vh;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 20px;
}
.exBtn img{
	width: 100%;
}
.listContain{
	width: 90%;
	margin: 0 auto;
	margin-top: 45px;
}
.closeBtn{
	width: 30px;
	height: 30px;
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
}
.closeBtn img{
	width: 100%;
}
.list_title,.list_content{
	width: 100%;
	display: flex;
	text-align: center;
}
.list_title{
	font-size: 16px;
	font-weight: 600;
	color: #00712f;
}
.list_content{
	margin: 20px 0;
	font-size: 16px;
	font-weight: 600;
}
.lottery_list{
	width: 100%;
	height: 150px;
	overflow-y: scroll;
}
.list_title .list_tag01{
	width: 16%;
}
.list_title .list_tag02{
	width: 42%;
}
.list_title .list_tag03{
	width: 42%;
}
.list_content .list_tag01{
	width: 17%;
}
.list_content .list_tag02{
	width: 50%;
}
.list_content .list_tag03{
	width: 47%;
}
.makeClose{
	width: 100%;
	height: 100%;
	position: fixed;
    z-index: 0;
    left: 0px;
	top: 0px;
}
.iptName{
	font-size: 20px;
	color: #005F23;
	font-weight: 600;
}
.allBtn img{
	width: 100%;
}
.relate{
	position: relative;
}
.mr30{
	margin-right: 30px;
}
.mr20{
	margin-right: 20px;
}
.disc{
	width: 100%;
}
.disc > img{
	width: 100%;
}
.discBtn{
	width: 50%;
    margin: 0 auto;
	margin-top: 50px;
	cursor: pointer;
}
.discBtn img{
	width: 100%;
}
.col5{
	margin-left: 20px;
}
@media (max-width: 500px){
	.axa18Bg{
		width: 100%;
		height: 100%;
		background-image: url(../images/over18/axa.png);
		background-position: center bottom;
		background-size: 100%;
	}
	.record_title{
		width: 100%;
		margin: 0 auto;
		display: flex;
		text-align: center;
		font-size: 12px;
		padding-bottom: 15px;
		color: #008333;
	}
	.overContain5{
		width: 100%;
		margin: 0 auto;
		padding-top: 61px;
		padding-bottom: 15vh;
	}
	/* 兌獎 */
	.record_tag01{
		width: 13%;
	}
	.record_tag02{
		width: 24%;
	}
	.record_tag03{
		width: 31%;
	}
	.record_tag04{
		width: 10%;
	}
	.record_tag05{
		width: 27%;
	}
	/* 積點 */
	.record_ptag01{
		width: 11%;
	}
	.record_ptag02{
		width: 30%;
	}
	.record_ptag03{
		width: 23%;
		/* text-align: left; */
	}
	.record_ptag04{
		width: 21%;
	}
	.record_ptag05{
		width: 15%;
		/* text-align: right; */
	}
	.recYdata{
		margin-top: 30px;
	}
	.cityCent {
		width: 95%;
		font-size: 12px;
		margin: 0 auto;
	}
	.cityCent > table{
		color: #000;
		text-align: center;
		width: 100%;
		margin: 0px auto;
		border-collapse: collapse;
	}
	.citizen01 table tbody tr td:nth-child(1){
		width: 5%;
	}
	.citizen01 table tbody tr td:nth-child(2){
		width: 38%;
	}
	.citizen01 table tbody tr td:nth-child(3){
		width: 18%;
	}
	.citizen01 table tbody tr td:nth-child(4){
		width: 26%;
	}
	.citizen01 table tbody tr td:nth-child(5){
		width: 10%;
	}
	.citizen02 table tbody tr td:nth-child(1){
		width: 5%;
	}
	.citizen02 table tbody tr td:nth-child(2){
		width: 28%;
	}
	.citizen02 table tbody tr td:nth-child(3){
		width: 25%;
	}
	.citizen02 table tbody tr td:nth-child(4){
		width: 10%;
	}
	.citizen02 table tbody tr td:nth-child(5){
		width: 20%;
	}
}